@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    scroll-behavior: smooth;
}

.cursor {
    position: fixed;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: rgba(67, 128, 99, 0.51);
    pointer-events: none;
    mix-blend-mode: difference;
    filter: blur(4px);
    z-index: 9999;
}
